html {
  margin: 0px;
  padding: 0px;
}

body {
  margin: 0px;
  padding: 0px;
}
body, div, p, h1, h2, h3, h4, h5, h6, img, ul, li, a, strong, span, p, dl, dt, dd, input, textarea {
  margin: 0;
  padding: 0;
  list-style: none;
  border: 0;
  text-decoration: none;
  font-family:-apple-system-font, "Helvetica Neue", sans-serif;
  font-weight: normal;
  font-size: 14px;
  letter-spacing: 1px;
}
ul{
  li{
    list-style: none;
  }
}
