a {
  color: #4f4d4f;
  text-decoration: none;
}

.com_menu_bg {
  width: 100%;
  margin: 0 auto;
  background-color: #177c00;
  overflow: hidden;
}

.com_menu {
  margin: 5px;
  overflow: hidden;

  ul {
    padding: 0px;
    margin: 0px;
    height: 100%;

    li {
      margin: 3px 3px;
      font-weight: bold;
      display: block;
      float: left;
      height: 30px;
      line-height: 30px;
      width: 23%;
      text-align: center;
      border: 1px solid #79a56f;
      box-sizing: border-box;

      a {
        display: block;
        float: left;
        width: 100%;
        color: #ffffff;
        font-size: 14px;
        font-weight: normal;
        text-align: center;
      }
    }
  }
}

.com_logo {
  width: 100%;

  img {
    width: 100%;
  }
}

.com_pane {
  width: 100%;
  display: inline-block;
}

.com_pane {
  h1 {
    background: #fafafa;
    color: #444;
    height: 50px;
    line-height: 50px;
    font-weight: bold;
    font-size: 20px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;

    .git {
      background: #177c00;
      width: 5px;
      height: 30px;
      display: block;
      float: left;
      margin: 10px 10px 0px 0px;
    }

    a {
      padding: 0px 15px;
      float: right;
    }
  }
}

.com_goods_list {
  padding: 2px;

  ul {
    width: 100%;
    margin: 0px auto;

    li {
      margin: 5px;
      width: 47%;
      float: left;
      color: #666;

      a {
        img {
          height: 130px;
        }
      }
    }
  }
}

.com_news_list {
  padding: 2px;

  ul {
    width: 100%;
    margin: 0px auto;

    li {
      width: 100%;
      float: left;
      border-bottom: 1px dashed #eaeaea;
      margin: 0px 5px 5px 0px;
      padding: 0px;
      border-radius: 5px;

      a {
        display: block;
        color: #666;
        padding: 8px;
        font-size: 14px;
      }
    }
  }
}

.com_contact_list {
  ul {

    li {
      color: #333;
      font-size: 15px;
      text-align: left;
      padding: 5px 5px 5px 20px;
    }
  }
}

.com_tabmenu_bg {
  height: 58px;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 999;
  background: #177c00;

  .com_tabmenu {
    ul li {
      width: 25%;
      float: left;
      position: relative;
      border-right: 1px solid #fff;
      font-size: 12px;
      text-align: center;
      color: #fff;
      line-height: 12px;
      height: 58px;
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      -o-box-sizing: border-box;

      a {
        color: #fff;

        em {
          width: 23px;
          display: block;
          margin: 0 auto;
          padding: 10px 0 6px 0;
          img{
            width: 23px;
          }
        }
      }

    }
  }
}
.part-pane-title {
  padding-top: 20px;
  margin: 0px auto;
  width: 100%;
  text-align: center;
  font-size: 22px;
  color: #333333;
  padding-bottom: 12px;
  span {
    padding: 0px 10px;
    font-size: 14px;
    color: #ffffff;
    text-transform: uppercase;
    background: #177c00;
  }
}
.about_content {
  padding: 0px 15px;
  overflow: hidden;
  p{
    line-height: 170%;
    text-align: left;
    font-size: 14px;
    color: #333;
    text-indent: 24px;
  }
}
